body {
    padding: 50px;
}

.spinner {
    width: 32px;
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

button.dance {
    z-index: 2;
    position: 'absolute';
    top: 20px;
    left: 20px;
}

div.dance-floor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}
